

.flex{
    display: flex;
}

.main
{
    background: @gradient;
    max-width: 1366px;
    height: 900px;
    margin: 0 auto;
    background-position: 65% 0;
    background-size: cover;
}

.top-bar
{
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 40px;
}

.logo 
{
    a
    {
        text-decoration: none;
        color: @grey-text;
        .basic-transition;
        &:hover
        {
            color: @green-color;
        }
    }
}


//Menu
//ukrywa menu glowne
#main-menu{
    display:none;
    @media @phone{
        display: block;
    }
}
//menu mobilne
.slicknav_menu{
    position: absolute;
    left: 0;
    right: 0;
    @media @phone{
        display: none;
    }
}

//social w menu mobilnym
#main-menu-social{
    display: inline;
    @media @phone
    {
        display: none;
    }
}

//logo
.logo{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    line-height: 34px;
    color: @grey-text;
    width: 30%;
    padding-left: 25px;
}

//nawigacja desktop
.nav
{
    display: flex;
    justify-content: right;
    width: 70%;
    li
    {
        display: inline;
        font-family: 'Lato', sans-serif;
        font-size: 31px;
        line-height: 34px;
        padding-right: 34px;
        
        a
        {
            text-decoration: none;
            color: @grey-text;
            .basic-transition;
            &:hover
            {
                color: @green-color;
                cursor: pointer;
            }
        }
        
    }
   
}

.bottom-bar
{
    width: 100%;
    justify-content: center;
    .bottom-left
    {
        width: 80%;
        h1{
            font-family: 'Antonio', sans-serif;
            font-weight: 700;
            font-size: 50px;
            line-height: 70px;
            color: @grey-text;
            padding-top: 350px;
            @media @phone
            {
                width: 75%;
                font-size: 72px;
                line-height: 93px;
            }
            
        }
        p
        {
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            line-height: 35px;
            color: @green-color;
            padding-top: 40px;
      
        }
    }
    .bottom-right
    {
        display: none;
        @media @phone
        {
            display: flex;
    
            padding-top: 200px;
            
        }
        .social-icons
        {
            flex-direction: column;
            row-gap: 15px;
            font-size: 20px;
            a
            {
               color: @gradient; 
                
                &:hover
                {
                    .basic-transition;
                    transform: scale(120%);
                }
            }
            
            
        }
    }
}

//sekcja trening
.training
{
    background-color: @background-color;
    max-width: 1366px;
    margin: 0 auto;
}
    
.training-photo-left
{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media @phone
    {
        flex-direction: row;
        padding: 20px 0;
    }
    .photo-left
    {
        img
        {
            width: 100%;
            
        }
         @media @phone
            {
                width: 40%;
                display: flex;
                align-items: center;
                img
                {
                  min-width: 100%;
                }
            }
    }
    .description-right
    {
    h3
    {
        font-size: 46px;
        line-height: 59px;
        font-family: 'Antonio';
        color: @green-color;
        padding-top: 20px;
        text-align: center;
    }
    p
    {
        font-size: 24px;
        line-height: 34px;
        font-family: 'Lato';
        color: @grey-text;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: justify;
    }
     @media @phone
            {
                width: 60%;
                justify-content: center;
                padding-left: 30px;
            }
    }
}

.training-photo-right
{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media @phone
    {
        flex-direction: row-reverse;
        padding: 20px 0;

    }
    .photo-right
    {
        img
        {
            width: 100%;
            
        }
         @media @phone
            {
                width: 40%;
                display: flex;
                align-items: center;
                img
                {
                  min-width: 100%;
                }
            }
    }
    .description-left
    {
    h3
    {
        font-size: 46px;
        line-height: 59px;
        font-family: 'Antonio';
        color: @green-color;
        padding-top: 20px;
        text-align: center;
    }
    p
    {
        font-size: 24px;
        line-height: 34px;
        font-family: 'Lato';
        color: @grey-text;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: justify;
    }
     @media @phone
            {
                width: 60%;
                justify-content: center;
                padding-right: 30px;
            }
    }
}

//sekcja moje resultaty
.risultati
{
    background-color: @gradient;
    max-width: 1366px;
    margin: 0 auto;
    padding: 30px 0;
    h2{
        font-size:40px;
        line-height: 50px;
        font-family: 'Antonio', sans-serif;
        font-weight: 700;
        color: @grey-text;
        padding-top: 30px;
        padding-bottom: 20px;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        @media @phone
        {
            font-size: 64px;
            line-height: 83px;
        }
    }

}
.risultati-tutti
{
    width: 100%;
    flex-direction: column;
    @media @phone
    {
        flex-direction: row;
        width: 95%;
        margin: 0 auto;
    }
}
.risultato-singolo
{
    width: 50%;
    padding: 30px 30px;
    margin: 20px auto;
    background-color: @dark-color;
    border-radius: 10px;
    @media @phone
    {
        width: 20%;
        margin: 0 5px;

    }
    h3
    {
        font-size: 40px;
        line-height: 34px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @green-color;
        text-align: center;
        padding: 20px 0;
        height: 50%;   
    }
    p
    {
        font-size: 24px;
        line-height: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @grey-text;
        text-align: center;  
    }
}



//sekcja abonament
.abonament
{
    max-width: 1366px;
    margin: 0 auto;
    background-color: @gradient;
    
    h2{
        font-size:40px;
        line-height: 50px;
        font-family: 'Antonio', sans-serif;
        font-weight: 700;
        color: @grey-text;
        padding-top: 30px;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        @media @phone
        {
            font-size: 64px;
            line-height: 83px;
        }
    }
}
.subscription
{
    
    
    background-color: @gradient;
    padding: 50px 0;
    flex-direction: column;
   
    @media @phone
    {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        
    }
}
.subscription-single
{
    flex-direction: column;
    display: flex;
    background-color: @dark-color;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    text-align: center;
    height: 724px;
    @media @phone
    {
        flex-direction: column;
        max-width: 30%;
                
    }
    
}

.subscription-name-price
{
    width: 90%;
    height: 20%;
    margin: 0 auto;
    h4
    {
        font-size: 52px;
        line-height: 34px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @grey-text;
        text-align: center;  
        padding: 40px 0 10px 0;
    }
    h5
    {
        font-size: 24px;
        line-height: 34px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @green-color;
        text-align: center;  
        
    }
}

.subscription-offert
{
    width: 90%;
    height: 65%;
    margin: 0 auto;
    padding-top: 30px;
    p
    {
        font-size: 24px;
        line-height: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @grey-text;
        text-align: center; 
        padding-bottom: 20px;
    }
}

.subbscription-button
{
    width: 90%;
    height: 15%;
    margin: 0 auto;
    img
    {
        border-radius: 50%;
        &:hover
        {
            .basic-transition;
            background-color: @grey-text;
        }
    }
}

//sekcja opinioni

.opinioni
{
    max-width: 1366px;
    background-color: @gradient;
    margin: 0 auto;
    h2{
        font-size:40px;
        line-height: 50px;
        font-family: 'Antonio', sans-serif;
        font-weight: 700;
        color: @grey-text;
        padding-top: 30px;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        @media @phone
        {
            font-size: 64px;
            line-height: 83px;
        }
    }
}


.opinioni-singoli
{
    width: 90%;
    margin: 0 auto;
    h4
        {
            font-size: 25px;
            line-height: 34px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: @grey-text;
            text-align: center;  
            padding: 20px 0 5px 0;
        }
    p
        {
            font-size: 20px;
            line-height: 34px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: @grey-text;
            text-align: center;  
            padding: 20px 0 5px 0;
        } 
}
.opinioni-tutti{
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 50px;
    padding: 5% 2%;
    background-color: @gradient;
    position: relative;
    z-index: 1;
    h4
        {
            font-size: 25px;
            line-height: 34px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: @grey-text;
            text-align: center;  
            padding: 20px 0 5px 0;
        }

    p
        {
            font-size: 20px;
            line-height: 34px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: @grey-text;
            text-align: center;  
            padding: 20px 0 5px 0;
        } 

}


//sekcja o mnie
.about-me-phone
{
@media @phone
{
    display:none;
}

    background-color: @gradient;
    margin: 0 auto;
    max-width: 1366px;
    h2{
        font-size:40px;
        line-height: 50px;
        font-family: 'Antonio', sans-serif;
        font-weight: 700;
        color: @green-color;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        margin: 0 auto;
        @media @phone
        {
            font-size: 64px;
            line-height: 83px;
        }
    }
}
.trainer-photo
{
    max-width: 90%;
    margin: 0 auto;
    img
    {
        width: 100%;
        padding-bottom: 20px;
    }
}

.chi-sono
{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    p
    {
        font-size: 24px;
        line-height: 34px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @grey-text;
        padding: 15px 0;
        text-align: center;
    }
   
}

.button-chi-sono
{
    font-size: 20px;
    line-height: 34px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: @gradient;
    text-align: center;
    background-color: @green-color;  
    min-width: 50%;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    &:hover
    {
        .basic-transition;
        background-color: @grey-text;
    }
    a
    {
        text-decoration: none;
        color: @gradient;
    }
    
}



.about-me-desktop
{
    max-width: 1366px;
    margin: 0 auto;
    background-color: @gradient;
    display: none;
    padding-bottom: 50px;
    
    @media @phone
    {
        display: flex;
    }
}
.trainer-photo-desktop
{
    width: 40%;
    display: flex;
    align-items: center;
    img
    {
        width: 90%;
        margin: 0 auto;
        
    }
}

.chi-sono-desktop
{
    width: 60%;
    h2{
        font-size:40px;
        line-height: 50px;
        font-family: 'Antonio', sans-serif;
        font-weight: 700;
        color: @green-color;
        padding-bottom: 30px;
        text-align: center;
        margin: 0 auto;
    }
    p
    {
        font-size: 24px;
        line-height: 34px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @grey-text;
        padding: 15px 0;
        margin: 0 30px;
        text-align: center;
    }
}

.button-chi-sono-desktop
{
    font-size: 20px;
    line-height: 34px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: @gradient;
    text-align: center;
    background-color: @green-color;  
    min-width: 30%;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    &:hover
    {
        .basic-transition;
        background-color: @grey-text;
    }
    a
    {
        text-decoration: none;
        color: @gradient;
    } 
}

footer
{
    max-width: 1366px;
    margin: 0 auto;
    background-color: @green-color;
    ul{
        padding-top: 30px;
        @media @phone
        {
            text-align: center;
        }
        li
    {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        @media @phone
        {
            display: inline;
            text-align: center;
            padding: 0 5px;
            margin: 0;
            border-left: 1px solid @gradient;
            &:first-child
            {
                border-left: none;
            }
        }
        a
        {
            text-decoration: none;
            color: @gradient;
            &:hover
            {
                .basic-transition;
                color: @grey-text;
            }
        }   
        }
        }
    
}
.footer-social
{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    a
    {
        padding: 10px;
        font-size: 20px;
        color: @gradient;
        &:hover
        {
            .basic-transition;
            transform: scale(120%);
        }
    }
}

.copywright
{
    max-width: 1366px;
    color: @grey-text;
    background-color: @gradient;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}